# Contact Feature

This project consists to create, update and delete contacts from a phone

Imported libraries

In [53]:
import pandas as pd
from datetime import date

CLASS

In [54]:
class contact :
    def __init__ (self , first_name , last_name , number ):
        self.first_name = first_name
        self.last_name = last_name
        self.number = number
        self.date_creation = date.today ()

CREATE

In [64]:
list_first_names=[]
list_last_names=[]
list_numbers=[]
list_creation_date=[]

choice = input('insérer un contact? Y/N \n')

while choice == 'Y' :
    first_name=input('First name: \n')
    list_first_names.append(first_name)
    last_name=input('last name: \n')
    list_last_names.append(last_name)
    number=input ('number: \n')
    list_numbers.append(number)
    date = date.today()
    list_creation_date.append(date)
    choice = input('insérer un contact? Y/N \n')

Data={
    "first name":list_first_names ,
    "last name":list_last_names ,    
    "number":list_numbers ,
    "creation date":list_creation_date
}

dataframe=pd.DataFrame(Data)
dataframe.to_csv('Contact.csv', index=False)
contact_csv=pd.read_csv('Contact.csv')
contact_csv

  first name last name  number creation date
0     victor         d       6    2023-01-26
1       anis         b       7    2023-01-26

UPDATE

In [65]:
choix_modif = input("modifier un contact? Y/N")
while choix_modif == 'Y':
    contact_a_modifier = input ('quel contact voulez vous modifier? \n')
    if contact_a_modifier in list_first_names:
        mask = dataframe["first name"] == contact_a_modifier
        dataframe['number'].loc[mask] = input('num')
        dataframe.to_csv('Contact.csv', index=False)
        contact_csv=pd.read_csv('Contact.csv')
        choix_modif=input('voulez vous modifier un autre contact? Y/N \n')
    else :
        print("ce contact n'existe pas")
        choix_modif=input('voulez vous modifier un autre contact? Y/N \n')
        if choix_modif == 'N': 
            break
contact_csv

  first name last name  number creation date
0     victor         d      32    2023-01-26
1       anis         b       7    2023-01-26

BONUS : DELETE

In [66]:
choix_modif = input("supprimer un contact? Y/N")
while choix_modif == 'Y':
    contact_a_modifier = input ('quel contact voulez vous supprimer? \n')
    if contact_a_modifier in list_first_names:
        list_first_names.remove(contact_a_modifier)
        dataframe.to_csv('Contact.csv', index=False)
        contact_csv=pd.read_csv('Contact.csv')
        choix_modif=input('voulez vous modifier un autre contact? Y/N \n')
    else :
        print("ce contact n'existe pas")
        choix_modif=input('voulez vous modifier un autre contact? Y/N \n')
        if choix_modif == 'N': 
            break
contact_csv

  first name last name  number creation date
0     victor         d      32    2023-01-26
1       anis         b       7    2023-01-26